In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [23]:
#df1=pd.read_csv('pro.csv')
df2=pd.read_csv('pro.csv')
df2= df2.iloc[:,1:]
# df1['Index'] = np.arange(len(df1))
# df1.set_index('Index')
# import csv
df10= df2.iloc[:,:7].join(df2.iloc[:,23:25]).join(df2.iloc[:,26:27]).join(df2.iloc[:,33:34]).join(df2.iloc[:,-1:]) # df1["Suggested Job Role"]
#df10.head()

In [24]:
from sklearn.utils import shuffle
df = shuffle(df10)
df= df.dropna()
df101=df

In [25]:
fitdf= pd.DataFrame(df10.iloc[:,:17])

In [26]:
fitdf.head(2)

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Interested subjects,interested career area,Type of company want to settle in?,Management or Technical,Suggested Job Role
0,69,63,78,87,94,94,87,cloud computing,system developer,Web Services,Management,Database Developer
1,78,62,73,60,71,70,73,networks,Business process analyst,SAaS services,Technical,Portal Administrator

In [27]:
#le = preprocessing.LabelEncoder()
#df = df[['Interested subjects', 'interested career area']].apply(le.fit_transform)
#df.apply(LabelEncoder().fit_transform)
from sklearn.preprocessing import LabelEncoder
label_encoder = preprocessing.LabelEncoder()
df['Interested subjects']= label_encoder.fit_transform(df['Interested subjects'])
df['Interested subjects'].unique()

# from sklearn.preprocessing import LabelEncoder
label_encoder2 = preprocessing.LabelEncoder()
df['interested career area']= label_encoder2.fit_transform(df['interested career area'])
df['interested career area'].unique()

label_encoder3 = preprocessing.LabelEncoder()
df['Suggested Job Role']= label_encoder3.fit_transform(df['Suggested Job Role'])
df['Suggested Job Role'].unique()

label_encoder3 = preprocessing.LabelEncoder()
df['Type of company want to settle in?']= label_encoder3.fit_transform(df['Type of company want to settle in?'])
df['Type of company want to settle in?'].unique()

label_encoder4 = preprocessing.LabelEncoder()
df['Management or Technical']= label_encoder4.fit_transform(df['Management or Technical'])
df['Management or Technical'].unique()

#labelencoder = LabelEncoder()

#df= labelencoder.fit_transform(df)
df.iloc[:,:].head(2)

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Interested subjects,interested career area,Type of company want to settle in?,Management or Technical,Suggested Job Role
14262,83,91,72,72,88,94,85,0,3,0,0,10
2126,61,72,76,84,71,94,79,2,0,2,1,25

In [28]:
train= df[:df.shape[0]*80//100].dropna()
test= df[df.shape[0]*80//100:].dropna()

In [29]:
X_test= test.iloc[:, :-1]
X_train= train.iloc[:, :-1]
y_test= test.iloc[:,-1:]
y_train= train.iloc[:,-1:]



X_train= np.array(X_train)
X_test= np.array(X_test)
y_train= np.array(y_train)
y_test= np.array(y_test)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier(n_neighbors= 11)
knn.fit(X_train, y_train)
knn.score(X_test,y_test)*100

C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

3.1939605110336817

In [30]:
from sklearn import svm
svc = svm.SVC(kernel='linear', C=1)
svc.fit(X_train, y_train)
svc.score(X_test, y_test)*100

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

6.039488966318235

In [10]:
from sklearn.naive_bayes import MultinomialNB
# scaler = preprocessing.MinMaxScaler()
# all_features_minmax = scaler.fit_transform(all_features)
nb = MultinomialNB(alpha=0.1)
# cv_scores = cross_val_score(clf, all_features_minmax, all_classes, cv=10)
nb.fit(X_train, y_train)
nb.score(X_test, y_test)*100

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

5.487804878048781

In [11]:
from sklearn.ensemble import RandomForestClassifier
ranfor = RandomForestClassifier(n_estimators=10, random_state=10)
ranfor.fit(X_train, y_train)
ranfor.score(X_test, y_test)*100

C:\Users\KIIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

2.9036004645760745

In [12]:
from sklearn.linear_model import LogisticRegression
regressor = LogisticRegression(penalty='l2',solver='saga', random_state=0)
regressor.fit(X_train, y_train)
regressor.score(X_test, y_test)*100

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\linear_model\sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

5.720092915214867

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Input, Conv1D, Flatten, MaxPooling1D
from keras.optimizers import SGD

# input_shape = Input(shape=(X_train.shape[1],))
X_train= X_train.reshape(X_train.shape[0], X_train.shape[1],1)
X_test= X_test.reshape(X_test.shape[0], X_test.shape[1],1)

model = Sequential()
model.add(Conv1D(32, 5, activation='relu', input_shape= (11,1)))
# model.add(Conv1D(64, 5, activation='relu'))
# model.add(Conv1D(32, 5, activation='relu'))
model.add(Conv1D(128, 5, activation='relu'))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='softmax'))
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
history= model.fit(X_train, y_train, batch_size=16, epochs=10, validation_data=(X_test, y_test))

Using TensorFlow backend.

WARNING:tensorflow:From C:\Users\KIIT\Anaconda3\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\KIIT\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 13772 samples, validate on 3444 samples
Epoch 1/10
13772/13772 [==============================] - 6s 404us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 2/10
13772/13772 [==============================] - 5s 331us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 3/10
13772/13772 [==============================] - 5s 334us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 4/10
13772/13772 [==============================] - 5s 344us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 5/10
13772/13772 [==============================] - 5s 342us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 6/10
13772/13772 [==============================] - 5s 364us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 7/10
13772/13772 [==============================] - 5s 383us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 8/10
13772/13772 [==============================] - 5s 352us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 9/10
13772/13772 [==============================] - 5s 345us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264
Epoch 10/10
13772/13772 [==============================] - 5s 345us/step - loss: -238.3243 - accuracy: 0.0279 - val_loss: -233.9521 - val_accuracy: 0.0264

In [14]:
score, acc = model.evaluate(X_test, y_test, batch_size=32)
acc*100

3444/3444 [==============================] - 0s 73us/step

2.6422765105962753

In [15]:
jobs= (df2[df.columns[-1]]).tolist()

In [16]:
def max5(arr,jobs):
    temp=[]
    arr=arr.tolist()
    for i in range(5):
        k=np.argmax(arr)
        temp.append(jobs[k])
        arr[k]=0
    return temp

In [17]:
lul= int(np.floor(np.random.random()*17217))
live= df.iloc[lul:lul+2, :-1]
tl=[1, 0,8, 8, 39,77, 69, 80, 'IOT', 'testing','Management']
live= pd.concat([live, pd.DataFrame([tl], columns= df.columns[:-1])], sort=False)

live_df= live.iloc[:, :8]
for i, e in enumerate(live.columns[:]):
    if live.dtypes[i] == 'O':
        live_df[live.columns[i]]= live[live.columns[i]].astype('category').cat.codes
know= ((regressor.predict_proba(live_df)))[2]
jobs[np.argmax(know)]


print("Suggested Career Path: "+str(max5(know,jobs)))

Suggested Career Path: ['Information Security Analyst', 'CRM Business Analyst', 'Web Developer', 'Web Developer', 'Database Developer']

In [18]:
max5(know,jobs)

['Information Security Analyst',
 'CRM Business Analyst',
 'Web Developer',
 'Web Developer',
 'Database Developer']

### Correlation between all the columns with "Suggested Job Role" column

In [19]:
data=df.values
scaler=StandardScaler()
scaled_data=scaler.fit_transform(data)

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [20]:
df[df.columns[1:]].corr()['Suggested Job Role'][:]

percentage in Algorithms              -0.001393
Percentage in Programming Concepts    -0.014130
Percentage in Software Engineering     0.006362
Percentage in Computer Networks        0.010676
Percentage in Electronics Subjects     0.000598
Percentage in Computer Architecture    0.002390
Interested subjects                   -0.004408
interested career area                 0.014960
Type of company want to settle in?     0.001892
Management or Technical                0.003235
Suggested Job Role                     1.000000
Name: Suggested Job Role, dtype: float64